<html>
  <body>
    <div class="ui-page">
         <div id="t-1e8a452c-0c3e-434b-9a69-9f88c989dab1" class="template growth-both firer commentable" name="Template 1" width="" height="">
         <div id="backgroundBox"></div>
         <div id="alignmentBox" class="left">
           <link type="text/css" rel="stylesheet" href="./resources/templates/1e8a452c-0c3e-434b-9a69-9f88c989dab1-1467920963555.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/1e8a452c-0c3e-434b-9a69-9f88c989dab1-1467920963555-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/1e8a452c-0c3e-434b-9a69-9f88c989dab1-1467920963555-ie8.css" /><![endif]-->
           <div id="t-Rich_text_20" class="richtext firer commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rich_text_20_0"></span>
                 </div>
               </div>
             </div>
           </div>
           <div id="t-Statusbar-white" class="group firer ie-background commentable">
             <div id="t-Rectangle_2" class="rectangle firer ie-background commentable"  >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_2_0"></span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-Label_28" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_28_0"></span></div></div></div>
             <div id="t-Label_29" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_29_0"></span></div></div></div>
             <div id="t-Label_30" class="label singleline firer pageload ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_30_0">4:02 PM</span></div></div></div>
             <div id="t-Group_12" class="group firer ie-background commentable">
               <div id="t-Ellipse_6" class="ellipse shape non-processed-shape firer commentable"  >
                 <div class="shapert-clipping">
                     <div class="content">
                       <div class="valign">
                          <span id="rtr-t-Ellipse_6_0"></span>
                       </div>
                     </div>
                 </div>
               </div>
               <div id="t-Ellipse_9" class="ellipse shape non-processed-shape firer commentable"  >
                 <div class="shapert-clipping">
                     <div class="content">
                       <div class="valign">
                          <span id="rtr-t-Ellipse_9_0"></span>
                       </div>
                     </div>
                 </div>
               </div>
               <div id="t-Ellipse_11" class="ellipse shape non-processed-shape firer commentable"  >
                 <div class="shapert-clipping">
                     <div class="content">
                       <div class="valign">
                          <span id="rtr-t-Ellipse_11_0"></span>
                       </div>
                     </div>
                 </div>
               </div>
               <div id="t-Ellipse_13" class="ellipse shape non-processed-shape firer commentable"  >
                 <div class="shapert-clipping">
                     <div class="content">
                       <div class="valign">
                          <span id="rtr-t-Ellipse_13_0"></span>
                       </div>
                     </div>
                 </div>
               </div>
               <div id="t-Ellipse_14" class="ellipse shape non-processed-shape firer commentable"  >
                 <div class="shapert-clipping">
                     <div class="content">
                       <div class="valign">
                          <span id="rtr-t-Ellipse_14_0"></span>
                       </div>
                     </div>
                 </div>
               </div>
             </div>
             <div id="t-Label_52" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_52_0">80%</span></div></div></div>

             <img id="t-Image_4" class="image firer ie-background commentable"    alt="image" src="./images/37ae7270-9a44-4644-be43-618089c87b1c.png"/>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>